<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Playground">
      <%= assigns[:page_title] || "Playground" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      defer
      data-domain="playground.ethanppl.com"
      src="https://plausible.ethanppl.com/js/script.js"
    >
    </script>
  </head>
  <body class="bg-white antialiased min-h-screen flex flex-col justify-between">
    <%= @inner_content %>
    <div class="flex flex-col gap-2 w-full py-8 bg-gray-100 justify-center items-center text-sm">
      <div class="flex gap-2 font-semibold">
        <a href="/games" class="hover:underline">
          About
        </a>
        <div>·</div>
        <a href="https://ethanppl.com" target="_blank" class="hover:underline">
          About me <.icon name="hero-arrow-top-right-on-square" class="h-3 w-3" />
        </a>
        <div>·</div>
        <a
          href="https://github.com/ethanppl/playground/issues/new"
          target="_blank"
          class="hover:underline"
        >
          Report an issue <.icon name="hero-arrow-top-right-on-square" class="h-3 w-3" />
        </a>
      </div>
      <div>
        Copyright © <%= Date.utc_today() |> Date.year_of_era() |> elem(0) %> Ethan Pang.
      </div>
    </div>
  </body>
</html>
