@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.cross {
  background: 
      linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.15rem),
          rgba(0,0,0,1) calc(50% - 0.15rem),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,1) calc(50% + 0.15rem),
          rgba(0,0,0,0) calc(50% + 0.15rem),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 0.15rem),
          rgba(0,0,0,1) calc(50% - 0.15rem),
          rgba(0,0,0,1) 50%,
          rgba(0,0,0,1) calc(50% + 0.15rem),
          rgba(0,0,0,0) calc(50% + 0.15rem),
          rgba(0,0,0,0) 100%);
}

.circle {
  border-radius: 9999px;
  border-width: 0.25rem;
  border-color: rgb(0 0 0)
}

.animate-delay-100 {
  animation-delay: 100ms;
}

.animate-delay-200 {
  animation-delay: 200ms;
}
